.carousel-wrapper {
    display: flex;
    justify-content: flex-start;
}

.carousel {
    width: 100%;
    position: relative;
}

.carousel.side {
    width: 50%;
}

.carousel-content {
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
}

.carousel-controls {
    position: absolute;
    z-index: 5;
    left: 2%;
    right: 2%;
    top: 50%;
    display: flex;
    justify-content: space-between;
}

.carousel-controls button {
    padding: 10px;
}

.carousel-dots {
    position: absolute;
    z-index: 5;
    left: 50%;
    right: 50%;
    bottom: 5%;
    display: flex;
    justify-content: center;
}

.carousel-wrapper .text {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}