.slide {
    flex: 0 0 100%;
    transition: .75s ease-in-out;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 50px 10px black inset;
}

.slide img {
    width: 100%;
    object-fit: contain;
    backdrop-filter: blur(4px) brightness(40%) grayscale(30%);
}

.slide .text {
    position: absolute;
    top: 55%;
    left: 50%;
    width: 45%;
    min-height: 35%;
    display: flex;
    text-align: justify;
    background-color: light-dark(rgba(255, 255, 255, 0.8), rgba(36, 36, 36, 0.8));
    flex-wrap: wrap;
    overflow: auto;
}

.slide .text .margin-applier {
    margin-left: 1rem;
    margin-right: 1rem;
}

.slide .text .margin-applier a {
    display: inline-block;
    margin-bottom: 1rem;
}

@media screen and (max-width: 880px) {
    .slide .text {
        min-height: unset;
        max-height: 45%;
        top: unset;
        left: unset;
        right: unset;
        bottom: 0;
        width: 100%;
    }
    .slide .text p {
        line-height: unset;
    }
}