.carousel-wrapper {
    display: flex;
    justify-content: flex-start;
}

.carousel {
    width: 100%;
    height: 100%;
    position: relative;
}

.carousel.side {
    width: 50%;
}

.carousel-content {
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
    border: 0 solid transparent;
    border-radius: 1rem;
}

.carousel-controls {
    position: absolute;
    z-index: 5;
    left: 2%;
    right: 2%;
    top: 50%;
    display: flex;
    justify-content: space-between;
}

.carousel-controls button {
    padding: 0.25rem 0.5rem;
    border-radius: 0.75rem;
}

.carousel-dots {
    position: absolute;
    z-index: 5;
    left: 50%;
    right: 50%;
    bottom: 5%;
    display: flex;
    justify-content: center;
}

.carousel-wrapper .text {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media screen and (max-width: 880px) {
    .carousel-wrapper {
        flex-direction: column;
    }
    .carousel.side {
        width: 100%;
    }
    .carousel-dots {
        bottom: unset;
        top: 5%;
    }
    .carousel-wrapper .text {
        width: 100%;
        padding: unset;
    }
}