.carousel {
    position: relative;
}

.carousel-content {
    display: flex;
    overflow: hidden;
    height: 100vh;
    flex-wrap: nowrap;
}

.carousel-controls {
    position: absolute;
    z-index: 5;
    left: 2%;
    right: 2%;
    top: 50%;
    display: flex;
    justify-content: space-between;
}

.carousel-controls button {
    padding: 10px;
}

.carousel-dots {
    position: absolute;
    z-index: 5;
    left: 50%;
    right: 50%;
    bottom: 5%;
    display: flex;
    justify-content: center;
}