.education-summary {
    padding: 1.5rem;
    border-top: 2px solid #707070;
}

.education-summary.alt {
    background-color: light-dark(var(--dark-text-color), var(--light-text-color));
}

.education-summary a {
    margin-top: 1.5rem;
    display: inline-block;
    border-radius: 8px;
    padding: 0.6em 1.2em;
    color: light-dark(var(--dark-text-color), var(--light-text-color));
    background-color: light-dark(var(--dark-background-color), var(--light-background-color));
    cursor: pointer;
}

.technologies {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}