:root {
  /* VARIABLES COULEUR */

  --nav-color: #008088;

  /* Sombre */
  --dark-background-color: #383030;
  --dark-text-color: #C0D0F8;
  --dark-link-color: #5890F8;
  --dark-link-hover-color: #A088F8;

  /* Clair */
  --light-background-color: white;
  --light-text-color: #183858;
  --light-link-color: #0070E8;
  --light-link-hover-color: #38B8F8;

  /* VARIABLES DEGRADES */

  --summary-transition-gradient: linear-gradient(
          light-dark(var(--light-background-color), var(--dark-background-color)),
          light-dark(var(--dark-text-color), var(--light-text-color))
  );
  --summary-transition-alt-gradient: linear-gradient(
          light-dark(var(--dark-text-color), var(--light-text-color)),
          light-dark(var(--light-background-color), var(--dark-background-color))
  );

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: light-dark(var(--light-text-color), var(--dark-text-color));
  background-color: light-dark(#B8B8B8, black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-size: 1.125rem;
  font-weight: bold;
  color: light-dark(var(--light-link-color), var(--dark-link-color));
  text-decoration: inherit;
  transition: color 0.25s;
}
a:hover {
  color: light-dark(var(--light-link-hover-color), var(--dark-link-hover-color));
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 2.2rem;
  border: 2px solid transparent;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: inherit;
  background-color: light-dark(var(--light-background-color), var(--dark-background-color));
  cursor: pointer;
  transition: border-color 0.25s, color 0.25s;
}
button:hover, a:hover {
  border-color: light-dark(var(--light-link-hover-color), var(--dark-link-hover-color));
}
button:focus, button:focus-visible {
  outline: 4px auto var(--nav-color);
}

p, li {
  font-size: 1.125rem;
  line-height: 2.25;
}
