#page-content {
    display: inline-block;
    text-align: justify;
    padding-left: 6vw;
    padding-right: 6vw;
    box-sizing: border-box;
    width: 100%;
    background-color: light-dark(#B8B8B8, black);
}

#page-info-transition {
    position: relative;
    z-index: 2;
    height: 4rem;
    background: linear-gradient(transparent, light-dark(var(--light-background-color), var(--dark-background-color)));
    box-shadow: 0 1rem 0.5rem light-dark(var(--dark-background-color), var(--light-background-color));
}

#page-info {
    position: relative;
    z-index: 2;
    background-color: light-dark(var(--light-background-color), var(--dark-background-color));
    box-shadow: 0 1rem 0.5rem light-dark(var(--dark-background-color), var(--light-background-color));
}

#explanation {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
}

#homepage-carousel {
    width: 60%;
}

nav {
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--nav-color);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 1rem 1rem var(--nav-color);
}

nav a {
    color: white;
    display: inline-block;
    padding: 0.6em 1.2em;
}

nav a:hover {
    color: #C0D0F8;
}

.hamburger {
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 8px;
}

.hamburger div {
    border-radius: 0.125rem;
    width: 2rem;
    height: 0.25rem;
    background-color: white;
    margin-top: 0.250rem;
    margin-bottom: 0.250rem;
}

.hamburger.open {
    background-color: white;
}

.hamburger.open div {
    background-color: var(--nav-color);
}

.mobile {
    position: fixed;
    padding: unset;
    top: 5rem;
    left: 1rem;
    width: fit-content;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 0 1rem 1rem var(--nav-color);
    overflow: hidden;
}

.mobile a {
    width: 100%;
    border-radius: unset;
    text-align: left;
}

.mobile a:not(.selected) {
    background-color: var(--nav-color);
    border: var(--nav-color) 1px solid;
}

.mobile .selected {
    box-shadow: unset;
    border: #B8B8B8 1px solid;
}

h1 {
    font-size: 3.5rem;
    text-align: center;
}

.selected {
    border-radius: 8px;
    color: var(--nav-color);
    background-color: white;
    box-shadow: 0 0.5rem white, 0 -0.5rem white, 0 1.5rem 0.25rem -0.25rem white;
}

#cookies-notice {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: light-dark(black, white);
    box-sizing: border-box;
    color: light-dark(white, black);
    border-top: solid thick var(--nav-color);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    z-index: 100;
}

.buttons {
    display: flex;
    align-items: center;
}

.buttons button {
    background-color: black;
    color: white;
    margin-left: 1rem;
}

.contacts {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media screen and (max-width: 1300px) {
    #homepage-carousel {
        width: 80%;
    }
}

@media screen and (max-width: 1024px) {
    #page-content {
        padding-left: unset;
        padding-right: unset;
    }
    #page-info-transition, #page-info {
        box-shadow: unset;
    }
    #homepage-carousel {
        width: unset;
    }
    .contacts {
        flex-direction: column;
        justify-content: unset;
    }
}

@media screen and (max-width: 768px) {
    #cookies-notice {
        flex-direction: column;
        padding-top: unset;
    }
    #cookies-notice p {
        line-height: unset;
    }
    .buttons {
        justify-content: space-between;
    }
    .buttons button {
        margin: 0 1vw;
    }
}