#page-content {
    display: inline-block;
    text-align: justify;
    padding-left: 6vw;
    padding-right: 6vw;
    box-sizing: border-box;
    width: 100%;
    background-color: light-dark(#B8B8B8, black);
}

#page-info-transition {
    position: relative;
    z-index: 2;
    height: 4rem;
    background: linear-gradient(transparent, light-dark(var(--light-background-color), var(--dark-background-color)));
    box-shadow: 0 1rem 0.5rem light-dark(var(--dark-background-color), var(--light-background-color));
}

#page-info {
    position: relative;
    z-index: 2;
    background-color: light-dark(var(--light-background-color), var(--dark-background-color));
    box-shadow: 0 1rem 0.5rem light-dark(var(--dark-background-color), var(--light-background-color));
}

#explanation {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
}

#homepage-carousel {
    width: 60%;
}

nav {
    position: sticky;
    top: 0;
    z-index: 100;
    width: calc(100% - 2*1rem);
    box-sizing: border-box;
    border-bottom: 2px transparent solid;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    background-color: var(--nav-color);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 0.5rem 0.5rem var(--nav-color);
}

nav a {
    color: white;
    display: inline-block;
    padding: 0.6rem 1.2rem;
    border-radius: 2.2rem;
    border: 2px solid transparent;
    transition: border-color 0.25s, box-shadow 0.25s;
}

nav a:hover {
    border-top-width: 2px;
    border-bottom-width: 2px;
    color: white;
    border-color: white;
}

nav .selected {
    transition: box-shadow 0.25s;
}

nav .selected:hover {
    color: var(--nav-color);
    box-shadow: inset 2px 2px 0 var(--nav-color), inset -2px -2px 0 var(--nav-color),
                inset -2px 2px 0 var(--nav-color), inset 2px -2px 0 var(--nav-color);
}

nav:not(.mobile) a:focus, nav:not(.mobile) a:focus-visible {
    outline: 4px auto white;
}

nav button {
    transition: border-color 0.25s, color 0.25s, box-shadow 0.25s;
}

nav button:hover {
    color: var(--nav-color);
    border-color: light-dark(var(--light-background-color), var(--dark-background-color));
    box-shadow: inset 2px 2px 0 var(--nav-color), inset -2px -2px 0 var(--nav-color),
                inset -2px 2px 0 var(--nav-color), inset 2px -2px 0 var(--nav-color);
}

.hamburger {
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 8px;
}

.hamburger div {
    border-radius: 0.125rem;
    width: 2rem;
    height: 0.25rem;
    background-color: white;
    margin-top: 0.250rem;
    margin-bottom: 0.250rem;
}

.hamburger.open {
    background-color: white;
}

.hamburger.open div {
    background-color: var(--nav-color);
}

.mobile {
    position: fixed;
    padding: unset;
    top: 5rem;
    width: fit-content;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 0 0.5rem 0.5rem var(--nav-color);
    overflow: hidden;
}

.mobile a {
    width: calc(100% - 2*1.2em);
    border-top-color: var(--dark-background-color);
    border-top-width: 2px;
    border-radius: unset;
    text-align: left;
}

.mobile a:last-child {
    border-bottom-width: 2px;
    border-bottom-right-radius: 3rem;
}

.mobile .selected {
    border-bottom-color: white;
}

nav:not(.mobile) {
    margin: 0 1rem;
}

h1 {
    font-size: clamp(0px, 8vw, 3.5rem);
    text-align: center;
}

.selected {
    color: var(--nav-color);
    background-color: white;
}

#cookies-notice {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: light-dark(black, white);
    box-sizing: border-box;
    color: light-dark(white, black);
    border-top: solid thick var(--nav-color);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    z-index: 100;
}

.buttons {
    display: flex;
    align-items: center;
}

.buttons button {
    background-color: black;
    color: white;
    margin-left: 1rem;
}

.interests {
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.interest {
    max-width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.interest h2 {
    text-align: center;
}

#interests-transition-in {
    height: 4rem;
    background: linear-gradient(light-dark(var(--light-background-color), var(--dark-background-color)), black);
}

#interests-transition-out {
    height: 4rem;
    background: linear-gradient(black, light-dark(var(--light-background-color), var(--dark-background-color)));
}

.contacts {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media screen and (max-width: 1300px) {
    #homepage-carousel {
        width: 80%;
    }
}

@media screen and (max-width: 1024px) {
    #page-content {
        padding-left: unset;
        padding-right: unset;
    }
    #page-info-transition, #page-info {
        box-shadow: unset;
    }
    #homepage-carousel {
        width: unset;
    }
    .contacts {
        flex-direction: column;
        justify-content: unset;
    }
}

@media screen and (max-width: 880px) {
    .interests {
        flex-direction: column;
        padding: 0 10vw;
    }

    .interest {
        max-width: 100%;
    }
    nav {
        border-bottom-left-radius: unset;
        width: calc(100% - 1rem);
    }
    nav:not(.mobile) {
        margin-left: unset;
    }
    #cookies-notice {
        flex-direction: column;
        padding-top: unset;
    }
    #cookies-notice p {
        line-height: unset;
    }
    .buttons {
        justify-content: space-between;
    }
    .buttons button {
        margin: 0 1vw;
    }
}