.summary h4:not(.collaborator-name) {
    margin-top: 1rem;
}

.collaborators {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.collaborator {
    padding-right: 1rem;
    padding-left: 1rem;
    text-align: center;
    width: min-content;
}

.collaborator img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}