.summary {
    padding: 1.5rem;
}

.summary.alt {
    background-color: light-dark(var(--dark-text-color), var(--light-text-color));
}

.essential-info {
    height: 10.5rem;
    display: flex;
    justify-content: space-between;
}

.summary a:not(.profilepage) {
    margin-top: 1.5rem;
    display: inline-block;
    border-radius: 8px;
    padding: 0.6em 1.2em;
    color: light-dark(var(--dark-text-color), var(--light-text-color));
    background-color: light-dark(var(--dark-background-color), var(--light-background-color));
    cursor: pointer;
}

.summary a:not(.profilepage):hover {
    transition: .2s;
    background-color: var(--nav-color);
    color: white;
}

.summary .essential-info .text {
    max-width: 100%;
    margin-right: 1rem;
}

.summary .essential-info img {
    max-width: 40%;
    padding: .75rem;
    border: medium solid var(--nav-color);
    background-color: white;
    border-radius: 8px;
    object-fit: contain;
}

.summary-transition {
    display: inline-block;
    height: 4rem;
    width: 100%;
    margin-bottom: -.375rem;
    background: var(--summary-transition-gradient);
}

.summary-transition.alt {
    background: var(--summary-transition-alt-gradient);
}

.technologies {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}