.summary {
    padding: 1.5rem;
    /*border-top: 2px solid #707070;*/
}

.summary.alt {
    background-color: light-dark(var(--dark-text-color), var(--light-text-color));
}

.summary a:not(.profilepage) {
    margin-top: 1.5rem;
    display: inline-block;
    border-radius: 8px;
    padding: 0.6em 1.2em;
    color: light-dark(var(--dark-text-color), var(--light-text-color));
    background-color: light-dark(var(--dark-background-color), var(--light-background-color));
    cursor: pointer;
}

.summary a:not(.profilepage):hover {
    transition: .2s;
    background-color: var(--nav-color);
    color: white;
}

.summary-transition {
    display: inline-block;
    height: 4rem;
    width: 100%;
    margin-bottom: -.375rem;
    background: var(--summary-transition-gradient);
}

.summary-transition.alt {
    background: var(--summary-transition-alt-gradient);
}

.technologies {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}